node_modules/
dist/
build/
.angular/
coverage/
playwright-report/
test-results/

.env
.env.*
*.log

.DS_Store
Thumbs.db
*.tmp
*.swp

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json